### This file configures various client-side behaviors.
###
### The commented-out examples below are intended to demonstrate
### how to use this file.

### Section for authentication and authorization customizations.
# [auth]
### Set store-passwords to 'no' to avoid storing passwords in the
### auth/ area of your config directory.  It defaults to 'yes'.
### Note that this option only prevents saving of *new* passwords;
### it doesn't invalidate existing passwords.  (To do that, remove
### the cache files by hand as described in the Subversion book.)
# store-passwords = no
### Set store-auth-creds to 'no' to avoid storing any subversion
### credentials in the auth/ area of your config directory.
### It defaults to 'yes'.  Note that this option only prevents
### saving of *new* credentials;  it doesn't invalidate existing
### caches.  (To do that, remove the cache files by hand.)
# store-auth-creds = no

### Section for configuring external helper applications.
### Set editor to the command used to invoke your text editor.
###   This will override the environment variables that Subversion
###   examines by default to find this information ($EDITOR,
###   et al).
### Set diff-cmd to the absolute path of your 'diff' program.
###   This will override the compile-time default, which is to use
###   Subversion's internal diff implementation.
### Set diff3-cmd to the absolute path of your 'diff3' program.
###   This will override the compile-time default, which is to use
###   Subversion's internal diff3 implementation.
### Set diff3-has-program-arg to 'true' or 'yes' if your 'diff3'
###   program accepts the '--diff-program' option.
# [helpers]
# editor-cmd = editor (vi, emacs, notepad, etc.)
# diff-cmd = diff_program (diff, gdiff, etc.)
# diff3-cmd = diff3_program (diff3, gdiff3, etc.)
# diff3-has-program-arg = [true | false]

### Section for configuring tunnel agents.
# [tunnels]
### Configure svn protocol tunnel schemes here.  By default, only
### the 'ssh' scheme is defined.  You can define other schemes to
### be used with 'svn+scheme://hostname/path' URLs.  A scheme
### definition is simply a command, optionally prefixed by an
### environment variable name which can override the command if it
### is defined.  The command (or environment variable) may contain
### arguments, using standard shell quoting for arguments with
### spaces.  The command will be invoked as:
###   <command> <hostname> svnserve -t
### (If the URL includes a username, then the hostname will be
### passed to the tunnel agent as <user>@<hostname>.)  If the
### built-in ssh scheme were not predefined, it could be defined
### as:
# ssh = $SVN_SSH ssh
### If you wanted to define a new 'rsh' scheme, to be used with
### 'svn+rsh:' URLs, you could do so as follows:
# rsh = rsh
### Or, if you wanted to specify a full path and arguments:
# rsh = /path/to/rsh -l myusername
### On Windows, if you are specifying a full path to a command,
### use a forward slash (/) or a paired backslash (\\) as the
### path separator.  A single backslash will be treated as an
### escape for the following character.

### Section for configuring miscelleneous Subversion options.
[miscellany]

### Set global-ignores to a set of whitespace-delimited globs
### which Subversion will ignore in its 'status' output.
# global-ignores = *.o *.lo *.la #*# .*.rej *.rej .*~ *~ .#* .DS_Store

### Set log-encoding to the default encoding for log messages
# log-encoding = latin1

### Set use-commit-times to make checkout/update/switch/revert
### put last-committed timestamps on every file touched.
# use-commit-times = yes

### Set enable-auto-props to 'yes' to enable automatic properties
### for 'svn add' and 'svn import', it defaults to 'no'.
### Automatic properties are defined in the section 'auto-props'.
enable-auto-props = yes

### Section for configuring automatic properties.
### The format of the entries is:
###   file-name-pattern = propname[=value][;propname[=value]...]
### The file-name-pattern can contain wildcards (such as '*' and
### '?').  All entries which match will be applied to the file.
### Note that auto-props functionality must be enabled, which
### is typically done by setting the 'enable-auto-props' option.
[auto-props]

# Scriptish formats
*.bat       = svn:keywords=Id Date Revision Author HeadURL;svn:svn:eol-style=native
*.bsh       = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/x-beanshell
*.erb       = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/x-ruby-template
*.inc       = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/x-php
*.js        = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/javascript
*.php       = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/x-php
*.pl        = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/x-perl;svn:executable
*.pm        = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/x-perl
*.py        = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/x-python;svn:executable
*.rb        = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/x-ruby-source
*.rhtml     = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/x-ruby-source
*.rjs       = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/x-ruby-source
*.rxml      = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/x-ruby-source
*.sh        = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/x-sh;svn:executable
*.spec      = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/x-rpmspec

# Image formats
*.bmp       = svn:mime-type=image/bmp
*.gif       = svn:mime-type=image/gif
*.ico       = svn:mime-type=image/x-icon
*.jpeg      = svn:mime-type=image/jpeg
*.jpg       = svn:mime-type=image/jpeg
*.png       = svn:mime-type=image/png
*.svg       = svn:mime-type=image/svg+xml
*.svgz      = svn:mime-type=image/svg+xml
*.tif       = svn:mime-type=image/tiff
*.tiff      = svn:mime-type=image/tiff
*.eps       = svn:mime-type=application/postscript

# Multimedia formats
*.avi       = svn:mime-type=video/x-msvideo
*.mov       = svn:mime-type=video/quicktime
*.mp3       = svn:mime-type=audio/mpeg
*.smil      = svn:mime-type=application/smil
*.swf       = svn:mime-type=application/x-shockwave-flash

# Data formats
*.bz2       = svn:mime-type=application/x-bzip
*.gpgkey    = svn:mime-type=application/gpg-keys
*.gtar      = svn:mime-type=application/x-gtar
*.gz        = svn:mime-type=application/x-gzip
*.tar       = svn:mime-type=application/x-tar
*.tar.bz2   = svn:mime-type=application/x-bzip-compressed-tar
*.tar.gz    = svn:mime-type=application/x-tgz
*.tbz       = svn:mime-type=application/x-bzip-compressed-tar
*.tgz       = svn:mime-type=application/x-tgz
*.vcf       = svn:mime-type=text/x-vcard
*.zip       = svn:mime-type=application/zip

# Document formats
*.ai        = svn:mime-type=application/illustrator
*.csv       = svn:eol-style=native;svn:mime-type=text/csv
*.doc       = svn:mime-type=application/msword
*.docm      = svn:mime-type=application/vnd.ms-word.document.macroEnabled.12
*.docx      = svn:mime-type=application/vnd.openxmlformats-officedocument.wordprocessingml.document
*.dotm      = svn:mime-type=application/vnd.ms-word.template.macroEnabled.12
*.dotx      = svn:mime-type=application/vnd.openxmlformats-officedocument.wordprocessingml.template
*.odb       = svn:mime-type=application/vnd.oasis.opendocument.database
*.odc       = svn:mime-type=application/vnd.oasis.opendocument.chart
*.odf       = svn:mime-type=application/vnd.oasis.opendocument.formula
*.odg       = svn:mime-type=application/vnd.oasis.opendocument.graphics
*.odi       = svn:mime-type=application/vnd.oasis.opendocument.image
*.odm       = svn:mime-type=application/vnd.oasis.opendocument.text-master
*.odp       = svn:mime-type=application/vnd.oasis.opendocument.presentation
*.ods       = svn:mime-type=application/vnd.oasis.opendocument.spreadsheet
*.odt       = svn:mime-type=application/vnd.oasis.opendocument.text
*.otg       = svn:mime-type=application/vnd.oasis.opendocument.graphics-template
*.oth       = svn:mime-type=application/vnd.oasis.opendocument.text-web
*.otp       = svn:mime-type=application/vnd.oasis.opendocument.presentation-template
*.ots       = svn:mime-type=application/vnd.oasis.opendocument.spreadsheet-template
*.ott       = svn:mime-type=application/vnd.oasis.opendocument.text-template
*.pdf       = svn:mime-type=application/pdf
*.pdf       = svn:mime-type=application/pdf
*.potm      = svn:mime-type=application/vnd.ms-powerpoint.template.macroEnabled.12
*.potx      = svn:mime-type=application/vnd.openxmlformats-officedocument.presentationml.template
*.ppam      = svn:mime-type=application/vnd.ms-powerpoint.addin.macroEnabled.12
*.ppsm      = svn:mime-type=application/vnd.ms-powerpoint.slideshow.macroEnabled.12
*.ppsx      = svn:mime-type=application/vnd.openxmlformats-officedocument.presentationml.slideshow
*.ppt       = svn:mime-type=application/vnd.ms-powerpoint
*.pptm      = svn:mime-type=application/vnd.ms-powerpoint.presentation.macroEnabled.12
*.pptx      = svn:mime-type=application/vnd.openxmlformats-officedocument.presentationml.presentation
*.ps        = svn:mime-type=application/postscript
*.psd       = svn:mime-type=application/photoshop
*.rtf       = svn:mime-type=text/rtf
*.xlam      = svn:mime-type=application/vnd.ms-excel.addin.macroEnabled.12
*.xls       = svn:mime-type=application/vnd.ms-excel
*.xlsb      = svn:mime-type=application/vnd.ms-excel.sheet.binary.macroEnabled.12
*.xlsm      = svn:mime-type=application/vnd.ms-excel.sheet.macroEnabled.12
*.xlsx      = svn:mime-type=application/vnd.openxmlformats-officedocument.spreadsheetml.sheet
*.xltm      = svn:mime-type=application/vnd.ms-excel.template.macroEnabled.12
*.xltx      = svn:mime-type=application/vnd.openxmlformats-officedocument.spreadsheetml.template

# XML formats (not necessarily text, but we don't want svn to track them as binary)
*.dtd        = svn:eol-style=native;svn:mime-type=text/xml-dtd
*.xml        = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/xml
*.xsl        = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/xml

# Text formats
*.tex        = svn:eol-style=native;svn:mime-type=text/x-tex
*.css        = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/css
*.htm        = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/html
*.html       = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/html
*.sql        = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/x-sql
*.txt        = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/plain
*.tt         = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/x-html+tt
*.vm         = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/velocity
*.xhtml      = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/xhtml+xml
INSTALL      = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/plain
Makefile     = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/plain
README       = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/plain
CHANGES      = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/plain
TODO         = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/plain
COPYING      = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/plain

# Code formats
*.c          = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/x-csrc
*.cpp        = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/x-c++src
*.h          = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/x-csrc
*.java       = svn:keywords=Id Date Revision Author HeadURL;svn:eol-style=native;svn:mime-type=text/x-java
*.class      = svn:mime-type=application/x-java
*.jar        = svn:mime-type=application/x-java-archive

